version: '3.8'
services:
  jupyterlab:
    build:
      context: .
    image: joscanoga/jupyterlab_gpu:1.0.0
    container_name: jupyterlab_gpu_1.0.0
    ports:
      - "8888:8888"
    volumes:
      - ./data:/app/data
      - ./Notebooks:/app/Notebooks
      - ./results:/app/results
      - ./SRC:/app/SRC
      - ./tests:/app/tests
    # Configuraciones de Jupyter Lab
    command: >
      jupyter lab --ip=0.0.0.0 --port=8888 --allow-root --no-browser
      --ServerApp.token=''
      --ServerApp.password=''
      --ServerApp.disable_check_xsrf=True
    # Descomentar en el caso de tener GPU nvidia en el equipo y desee usarla
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
